<p><%=number_to_currency(sales_ad.price)%></p>
<p>Tempo de uso: <%= sales_ad.usage_time %> meses</p>
<p>Garantia: <%= sales_ad.warranty? ? 'Sim': 'Não' %></p>
<p>Expiração do anúncio: <%=sales_ad.expiration_time%> dias</p>