<% @conversations.each do |conversation| %>
<% user_name = conversation.sales_ad.user.name %>
<% user_name = conversation.buyer.name if conversation.sales_ad.user == current_user %>
  <div>
    <%= "#{user_name} - #{conversation.sales_ad.title}" %>
    <%= link_to 'Visualizar conversa', conversation %>
  </div>
<% end %>