<% user_name = @conversation.sales_ad.user.name %>
<% user_name = @conversation.buyer.name if @conversation.sales_ad.user == current_user %>
<h1>
  <%= link_to "#{user_name} - 
               #{@conversation.sales_ad.title}", @conversation.sales_ad %>
</h1>
<%= render @conversation.sales_ad %>
<%= render partial: 'conversation' %>