<% @sales_ads.each do |ad| %>
  <div>
    <% if ad.photos.attached? %>
      <%= image_tag ad.photos.first %>
    <% else %>
      <%= image_tag 'default_ad.png' %>
    <% end %>
    <%= link_to ad.title, ad %> <br>
  </div>
<% end %>