footer.sticky-footer {
  padding: 2rem 0;
  flex-shrink: 0;
  .copyright {
    line-height: 1;
    font-size: 0.8rem;
  }

  color: #fff;
  position: relative;
  margin-top: -75px;
  height: 75px;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  padding-bottom: 75px;
}
